<!-- Documents about icons are here: http://fontawesome.io/icons/ -->
<div class="footer">
	<hr />
	<div class="footer-link">
		{% if site.author.github %}
		<a href="https://github.com/{{ site.author.github }}" onclick="gSend('github', 's')"><i class="fa fa-github" aria-hidden="true"></i></a>
		{% endif %}

		{% if site.author.twitter %}
		<a href="https://twitter.com/{{ site.author.twitter }}"  onclick="gSend('twitter', 's')"><i class="fa fa-twitter" aria-hidden="true"></i></a>
		{% endif %}

		{% if site.author.facebook %}
		<a href="https://www.facebook.com/{{ site.author.facebook }}"  onclick="gSend('facebook', 's')"><i class="fa fa-facebook" aria-hidden="true"></i></a>
		{% endif %}

		{% if site.author.linkedin %}
		<a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" onclick="gSend('linkedin', 's')"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
		{% endif %}

		{% if site.author.medium %}
		<a href="https://medium.com/@{{ site.author.medium }}" onclick="gSend('medium', 's')"><i class="fa fa-medium" aria-hidden="true"></i></a>
		{% endif %}

		{% if site.author.tumblr %}
		<a href="https://{{ site.author.tumblr }}.tumblr.com" onclick="gSend('tumblr', 's')"><i class="fa fa-tumblr" aria-hidden="true"></i></a>
		{% endif %}

		{% if site.author.email %}
		<a href="mailto:{{ site.author.email }}" onclick="gSend('email', 's')"><i class="fa fa-envelope" aria-hidden="true"></i></a>
		{% endif %}

	</div>
	© 2019 {{ site.author.name }}. All rights reserved.

	<script>
	function gSend(navName, category) {
		var eventCategories = {
			"m": "Menu",
			"s": "SNS"
		};

		ga('send', 'event', eventCategories[category], 'click', navName);
	}
	</script>
</div>
